/* Error: expected "{".
 *    ,
 * 14 |             animate_animated animate__bounceInLeft
 *    |                                                   ^
 *    '
 *   sass\partials\_index.scss 14:51  @import
 *   sass\estilos.scss 12:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 14 \2502              animate_animated animate__bounceInLeft\d\a    \2502                                                    ^\a    \2575 \a   sass\\partials\\_index.scss 14:51  @import\a   sass\\estilos.scss 12:9           root stylesheet';
}
